* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Epilogue", sans-serif;
}
.main__container {
  background-color: rgb(250, 250, 250);
}
.main__menu {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-left: 35px;
  margin-top: 30px;
}
.nav__list {
  display: flex;
  list-style: none;
}
.menu__nav {
  display: flex;
  position: relative;
}
.nav__image {
  width: 87px;
  height: 28px;
}
.list__menu {
  font-size: 16px;
  color: hsl(0, 0%, 41%);
  padding-top: 7px;
  margin-right: 35px;
}

.list__menu:hover {
  color: hsl(0, 0%, 8%);
}

.menu__arrow {
  margin-left: 5px;
}

.menu__login {
  display: flex;
  list-style: none;
}

.login__item:hover {
  border: 2px solid hsl(0, 0%, 8%);
  height: 35px;
  width: 93px;
  text-align: center;
  padding-top: 7px;
  border-radius: 12px;
}

.menu__title {
  margin-top: 4%;
  margin-left: 11%;
  position: relative;
}

.title__first {
  font-size: 74px;
}

.title__second {
  position: absolute;
  top: 74px;
  font-size: 74px;
}

.menu__paragraph {
  position: absolute;
  width: 33%;
  top: 235%;
}

.paragraph__content {
  font-size: 17px;
  line-height: 1.7;
  color: hsl(0, 0%, 41%);
}

.menu__button {
  position: absolute;
  top: 392%;
}

.button__content {
  width: 128px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  font-size: 14px;
  font-weight: 700;
}

.button__content:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
  border: 1px solid hsl(0, 0%, 8%);
}

.content__imagehero {
  width: 28%;
  right: 13%;
  top: 12%;
  position: absolute;
}

.menu__client {
  position: absolute;
  bottom: 8%;
  left: 11%;
}

.client__images {
  margin-right: 20px;
  width: 19%;
}

.audiophile {
  width: 14%;
}

.menu__feactures {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 55%;
  left: 15%;
  padding: 11px;
  background: #fff;
  -webkit-box-shadow: -1px 17px 70px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 17px 70px -30px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 17px 70px -30px rgba(0, 0, 0, 0.75);
  width: 28%;
  z-index: 1;
  border-radius: 12px;
  color: hsl(0, 0%, 41%);
}

.menu__display-none {
  display: none;
}

.feactures__list {
  list-style: none;
  line-height: 2;
  padding: 0;
}

.list__image {
  margin-right: 12px;
}
.list__image-content {
  margin-right: 10px;
}

.menu__company {
  width: 22%;
  left: 46%;
  padding: 5px;
}
