* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Epilogue", sans-serif;
}
.main__container {
  background-color: rgb(250, 250, 250);
}
.main__menu {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-left: 35px;
  margin-top: 30px;
}
.nav__list {
  display: flex;
  list-style: none;
}
.menu__nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}
.nav__image {
  width: 87px;
  height: 28px;
}

.nav__close {
  display: none;
}

.list__menu {
  font-size: 16px;
  color: hsl(0, 0%, 41%);
  padding-top: 7px;
  margin-right: 35px;
}

.menu__logo {
  display: none;
}

.list__menu:hover {
  color: hsl(0, 0%, 8%);
}

.menu__arrow {
  margin-left: 5px;
}

.menu__login {
  display: flex;
  list-style: none;
}

.login__item:hover {
  border: 2px solid hsl(0, 0%, 8%);
  height: 35px;
  width: 93px;
  text-align: center;
  padding-top: 7px;
  border-radius: 12px;
}

.menu__title {
  margin-top: 4%;
  margin-left: 11%;
  position: relative;
}

.title__first {
  font-size: 74px;
}

.title__second {
  position: absolute;
  top: 74px;
  font-size: 74px;
}

.menu__paragraph {
  position: absolute;
  width: 33%;
  top: 235%;
}

.paragraph__content {
  font-size: 17px;
  line-height: 1.7;
  color: hsl(0, 0%, 41%);
}

.menu__button {
  position: absolute;
  top: 392%;
}

.button__content {
  width: 128px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  font-size: 14px;
  font-weight: 700;
}

.button__content:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
  border: 1px solid hsl(0, 0%, 8%);
}

.content__imagehero {
  width: 28%;
  right: 13%;
  top: 12%;
  position: absolute;
}

.content__image-responsive {
  display: none;
}

.menu__client {
  position: absolute;
  bottom: 8%;
  left: 11%;
}

.client__images {
  margin-right: 20px;
  width: 19%;
}

.audiophile {
  width: 14%;
}

.menu__feactures {
  position: absolute;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: -1px 17px 70px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 17px 70px -30px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 17px 70px -30px rgba(0, 0, 0, 0.75);
  width: max-content;
  z-index: 1;
  border-radius: 12px;
  color: hsl(0, 0%, 41%);
}

.menu__display-none {
  display: none;
}

.feactures__list {
  list-style: none;
  line-height: 2;
  padding: 0;
}

.list__image {
  margin-right: 12px;
}
.list__image-content {
  margin-right: 10px;
}

.menu__company {
  width: max-content;
  padding: 20px;
}

@media screen and (max-width: 640px) {
  .content__imagehero {
    display: none;
  }

  .content__image-responsive {
    display: flex;
    display: flex;
    position: absolute;
    top: 13%;
    width: 100%;
  }
  .close__menu {
    display: none;
  }
  .menu__nav {
    position: fixed;
    justify-content: initial;
    width: 63%;
    flex-direction: column;
    z-index: 2;
    background-color: hsl(0, 0%, 98%);
    height: 100%;
    top: 0;
    right: 0;
  }

  .menu__bg {
    background-color: rgba(0, 0, 0, 0.327);
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .menu__logo {
    display: flex;
    position: absolute;
    right: 22px;
    width: 8%;
  }
  .menu__title {
    margin-top: 90%;
    margin-left: 9%;
  }

  .title__first {
    font-size: 31px;
  }

  .title__second {
    top: 0px;
    font-size: 31px;
    left: 27%;
  }

  .nav__list {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-top: 28%;
  }

  .nav__close {
    display: flex;
    width: 10%;
    position: absolute;
    right: 9%;
    top: 3%;
  }

  .menu__paragraph {
    width: 94%;
    top: 144%;
    text-align: center;
  }

  .paragraph__content {
    font-size: 15px;
  }

  .menu__feactures {
    position: initial;
    box-shadow: none;
    background-color: initial;
  }

  .menu__login {
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
  }

  .login__item {
    padding: 15px;
    padding-top: 0;
  }

  .list__menu {
    padding-top: 20px;
  }

  .login__item:focus {
    border: 1px solid hsl(0, 0%, 8%);
    border-radius: 10px;
  }

  .menu__button {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 415%;
    width: 100%;
  }

  .button__content:focus {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
  }

  .menu__client {
    bottom: 11%;
  }
}
